<h3><%= @business.name %></h3>
<div class="card mb-3">
  <div class="card-header">Description</div>
  <div class="card-body text-dark">
    <p class="card-text"><%= @business.description %></p>
  </div>
  <div class="card-header">Address</div>
  <div class="card-body text-dark">
    <p class="card-text"><%= @business.address %></p>
  </div>
  <div class="card-header">Contact No.</div>
  <div class="card-body text-dark">
    <p class="card-text"><%= @business.contact_no %></p>
  </div>
  <div class="card-header">Website</div>
  <div class="card-body text-dark">
    <p class="card-text"><%= @business.website %></p>
  </div>
  <div class="card-header">Rating</div>
  <div class="card-body text-dark">
    <p class="card-text"><%= @business.rating ||= "Not enough reviews received" %></p>
  </div>
  <% @business.specifications.each do |key, value| %>
    <div class="card-header"><%= beautify_field(key) %></div>
    <div class="card-body text-dark">
      <p class="card-text"><%= value %></p>
    </div>
  <% end %>
</div>
<% unless current_user.reviewed?(@business) %>
  <div>
    <p>
      <h3>Add review :</h3>
    </p>
    <%= render 'shared/review_form' %>
  </div>
<% end %>
