<!DOCTYPE html>
<html>
  <head>
    <title>EventstationMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if params[:controller] == "static_pages" || params[:controller] == "devise/registrations" || params[:controller] == "devise/sessions" %>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to 'eventstation', root_path %></h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="#">Features</a>
          <a class="p-2 text-dark" href="#">Enterprise</a>
          <a class="p-2 text-dark" href="#">Support</a>
          <a class="p-2 text-dark" href="#">Pricing</a>
        </nav>
        <% if user_signed_in? %>
          <%= link_to  "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-outline-danger" %>
        <% else %>
          <nav class="my-2 my-md-0 mr-md-3">
            <%= link_to  "Sign up", new_user_registration_path, class: "btn btn-outline-primary" %>
            <%= link_to  "Sign in", user_session_path, class: "btn btn-outline-success" %>
          </nav>
        <% end %>
      </div>
    <% end %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <!-- <div class="alert alert-<%= message_type %>"><%= message %></div> -->
        <% if message_type == "notice" %>
          <% alert_type = "primary" %>
        <% else %>
          <% alert_type = message_type %>
        <% end %>
        <%= content_tag :div, message, class: "alert alert-#{alert_type}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
